- if notice
  %p#notice= notice
%p
  %strong Rows:
  = @venue.rows
%p
  %strong Columns:
  = @venue.columns
%table.seats
  - 1.upto(@venue.rows).each do |row|
    %tr
      - 1.upto(@venue.columns).each do |column|
        %td
          - seat = @seats.at(row, column).first
          = seat.name
          = form_with scope: seat, url: update_seat_venue_path(@venue) do |form|
            = form.hidden_field :id, value: seat.id
            = form.check_box :available, value: seat.available?, onchange: 'this.form.submit();'
.solution_test= link_to 'Test Solution', test_solution_venue_path(@venue)
= link_to 'Back', venues_path
